* {
    margin: 0;
    padding: 0;
}

/* Header Styling */

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

.header {
    background-color: black;
    border-bottom: 1px solid seashell;
    position: sticky;
    top: 0;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header img {
    height: 50px;
    margin-left: 10px;
}

li {
    display: inline;
    text-decoration: underline;
    margin-right: 10px;
}

/* Banner Styling */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner img {
    height: 700px;
    width: 1200px;
}

.statement {
    position: absolute;
    background-color: black;
    width: 1200px;
    text-align: center;
    padding: 10px 0;
}

.statement h2 {
    padding-bottom: 10px;
}

/* display Styling */

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tea-of-the-month {
    text-align: center;
    width: 1000px;
    padding-top: 100px;
}

.tea-of-the-month h2 {
    padding-bottom: 10px;
}

.tea {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding-top: 20px;
}

.tea img {
    height: 200px;
    width: 300px;
}

.tea h4 {
    padding-top: 10px;
    text-align: center;
}

/* Locations Styling */

.locations {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.loctaions img {
    height: 500px;
}

.locations h2 {
    position: absolute;
}

.adresses {
    position: absolute;
}
